body {
  padding: 0;
  text-align: center;
  margin: 0;
  background-color: black;
}

.unlock-regular {
  font-family: "Unlock", serif;
  font-weight: 400;
  font-style: normal;
}

#game-screen {
  height: 730px;
  width: 1450;
  background-size: 250% 100%; /* Image triplée en largeur pour permettre un défilement fluide */
  align-content: center;
  justify-content: center;
  padding: 0px 0px;
  overflow: hidden;
  position: relative;
  background-image: url(../images/background-game.jpg);
  animation: slide-left 15s linear infinite; /* Animation un peu plus lente pour le triple fond */
  /* margin: 80px 0 200px 0; */
  border-top: 4px solid #000000;
  border-bottom: 4px solid #000000;
}

@keyframes slide-left {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0; /* Défile jusqu'au bout des 300% de largeur */
  }
}

#game-container {
  display: none;
}

#stats {
  font-family: "unlock";
  font-size: 40px;
  color: whitesmoke;
  position: absolute;
  top: 16px;
  right: 0;
  /* Optionnel : ajouter des marges pour ajuster l'espacement */
  border: 3px solid whitesmoke;
  border-radius: 20%;
  padding: 10px;
  margin-right: 20px;
}

#stats p {
  margin: 20px 40px;
}

#intro-screen {
  background-image: url("../images/start-screen.jpg");
  background-size: cover;
  height: 990px;
}

#end-screen {
  background-image: url(../images/end-screen.jpg);
  background-size: cover;
  height: 990px;
  display: none;
}

.container-end {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 300px;
  padding-top: 200px;
}

.inside-container-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 90px;
}
.container-start p {
  font-family: "unlock";
  font-size: 15 px;
}

.container-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 200px;
  padding-top: 290px;
}

.inside-container-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 80px;
}

#start-button {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.game-name {
  font-family: "unlock";
  font-size: 60px;
  font-weight: bold;
  color: black;
}

.h1-end {
  color: #ffffff;
  font-size: 60px;
}

#restart-button {
  appearance: none;
  background-color: #ffffff;
  border: 4px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}
.container-end {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 450px;
  padding-top: 250px;
}

.inside-container-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 90px;
}

.shuriken-class {
  animation: rotate360 0.85s infinite linear;
}
@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#lives img {
  width: 200px;
  height: auto;
}

#scores-container {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-left:  510px;
}

#high-scores ol {
  list-style-type: none; /* Supprime les puces par défaut */
  padding: 0;
  margin: 0;
  max-width: 300px;
  /* margin: 20px auto; Centrer la liste horizontalement */
  font-family: "Unlock";
  background-color: #f4f4f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

#high-scores li {
  background-color: black;
  margin-bottom: 10px; Espacement entre les éléments
  /* padding: 5px; */
  font-size: 18px;
  border-radius: 5px;
}

li::marker {
  color: black;
  font-family: 'Unlock';
}

h3 {
  font-family: 'Unlock';
  font-size: 20px;
  color: #000000;
  margin-left: 25px;
}

#lives img{

  width: 50px;
  height: auto;

}
